<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="E2E Cucumber Feature Test" parallel="tests" thread-count="10">
    <test name="Register Feature">
        <classes>
            <class name="cucumberTests.runners.registerTestRunner"/>
            <class name="cucumberTests.runners.loginTestRunner"/>
        </classes>
    </test>
</suite>